:root {
  --ff-primary: 'Inter', sans-serif;
  --ff-secondary: 'Karla', sans-serif;
  --bg-primary: #F5F7FB;
  --clr-primary: #293264;
  --clr-accent: #4D5B9E;
  --fs-h1: 1.93rem;
  --fs-body: 1rem;
  --fs-p: 0.64rem;
  --fw-reg: 400;
  --fw-bold: 500;
  --fw-bolder:700;
}
@media (max-width: 650px) {
  :root {
    --fs-h1: 1.45rem;
    --fs-body: 0.85rem;
    --fs-p: 0.64rem;
  }
}
* {
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 19px;
  font-weight: var(--fw-reg);
}

main {
  max-width: 700px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-primary);
}
.btn{
  background-color: var(--clr-accent);
  border:none;
  outline:none;
  color:var(--bg-primary);
  cursor:pointer;
  font-family: inherit;
}
.btn-primary {
  font-size: var(--fs-body);
  font-weight:var(--fw-bold);
  padding: 1em 1.75em;
  border-radius: 15px;
}
.btn-secondary {
  font-size: var(--fs-p);
  font-weight:600;
  padding: 1.07em 2.14em;
  line-height: 12px;
  border-radius: 10px;
  margin-top:1.46em;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select-control {
  margin-bottom: 30px;
  font-size: var(--fs-body);
  padding:0.31em 0.625em;
  border: 0.5px solid #D6DBF5;;
  outline: none;
  border-radius: 8px;
  font-family: var(--ff-primary);
  font-weight:var(--fw-bold);;
}
.container{
  width:90%;
}
.question--container{
  border-bottom: 0.79px solid #DBDEF0;
  padding:8px 0;
}
.question--container:last-child {
  border:0;
}

.title, .question--text {
  font-family: var(--ff-secondary);
  font-weight:var(--fw-bolder);
}
.title {
  font-size: var(--fs-h1);
  line-height: 37px;
}
.question--text {
  text-align: left;
  
  margin: 9px 0;
}
.question--answers {
  display: flex;
  justify-content: space-around;
}
.question--answers .answers-item {
  color:var(--clr-primary);
  font-size: var(--fs-p);
  font-weight:var(--fw-bolder);
  line-height: 12px;
  padding: 0.39em 1.46em;
  border: 0.79px solid var(--clr-accent);
  border-radius: 8px;
  cursor:pointer;
}
.bg-class{
  background: #94D7A2;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  margin-top:20px;
}
.footer p{
  font-weight: var(--fw-bold);
  font-size: 0.8rem;
  line-height: 15px;
}
  

@media (max-width: 650px){
  main{
    min-height: 100vh;
    margin: 0;
  }
  .container{
    width:96%;
  }
  .question--answers .answers-item {
    padding: 0.29em 1.36em;
    font-weight:var(--fw-bold);
  }
  .img{
    width:110px;
  }
}