:root {
  --ff-primary: 'Inter', sans-serif;
  --ff-secondary: 'Karla', sans-serif;
  --bg-primary: #F5F7FB;
  --clr-primary: #293264;
  --clr-accent: #4D5B9E;
  --fs-h1: 31px;
  --fs-body: 16px;
  --fs-p: 10.24px;
  --fw-reg: 400;
  --fw-bold: 500;
  --fw-bolder:700;
}

* {
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 19px;
  font-weight: var(--fw-reg);
}

main {
  max-width: 700px;
  height:750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-primary);
  margin-top: 50px;
}
.btn{
  background-color: var(--clr-accent);
  border:none;
  outline:none;
  color:var(--bg-primary);
  cursor:pointer;
  font-family: inherit;
}
.btn-primary {
  font-size: var(--fs-body);
  font-weight:var(--fw-bold);
  padding: 16px 28px;
  border-radius: 15px;
}
.btn-secondary {
  font-size: var(--fs-p);
  font-weight:600;
  padding: 11px 22px;
  line-height: 12px;
  border-radius: 10px;
  margin-top:15px;
}
.container{
  padding: 40px;
}
.question--container{
  border-bottom: 0.79px solid #DBDEF0;
  padding:8px 0;
}
.question--container:last-child {
  border:0;
}

.title, .question--text {
  font-family: var(--ff-secondary);
  font-weight:var(--fw-bolder);
}
.title {
  font-size: var(--fs-h1);
  line-height: 37px;
}
.question--text {
  text-align: left;
  
  margin: 9px 0;
}
.question--answers {
  display: flex;
  justify-content: space-around;
}
.question--answers .answers-item {
  color:var(--clr-primary);
  font-size: var(--fs-p);
  font-weight:var(--fw-bold);
  line-height: 12px;
  padding: 4px 15px;
  border: 0.79px solid var(--clr-accent);
  border-radius: 8px;
  cursor:pointer;
}
.bg-class{
  background: green;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  margin-top:20px;
}
.footer p{
  font-weight: var(--fw-bold);
  font-size: 12.8px;
  line-height: 15px;
}
  

